
/* Resets default margin and padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set page height to 100% */
html,
body {
  height: 100%;
}

/* Set body font properties */
body {
  font-family: 'Oswald', Verdana, Arial, sans-serif ;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

/* Style the container element */
.container {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

/* h1 Styles */
h1 {
  font-size: 36px;
  font-weight: bold;
  -webkit-text-stroke: 1px #B53300; /* Adds text outline */
  text-shadow: 2px 2px #000000;
  color: #ffffff;
  line-height: 100px;
}

/* Header Styles */
header {
  height: 100px;
  background-color: #162E2A;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.47);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Header Accent line */
header::after {
  content: ""; /* No content to be displayed */
  display: block; /* Display as a block element */
  height: 4px; /* Set the height to 4px */
  width: 100%; /* Set the width to 100% of the parent element */
  background-color: #B53300; /* Set the background color to a shade of red */
  position: absolute; /* Position the element absolutely */
  bottom: 0; /* Align the element to the bottom of the parent element */
}

/* Hides the Menu */
#main-header nav {
  opacity: 0; /* Set the opacity to 0 */
  transition: opacity 0.3s ease-in-out; /* Add a transition effect to the opacity property */
}

/* Shows the Menu on Hover */
#main-header:hover nav {
  opacity: 1; /* Set the opacity to 1 on hover */
}

/* Style the nav element */
nav {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  bottom: 4px;
  left: 2px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

/* Style the nav links */
nav a {
  text-decoration: none; 
  display: block;
  color: #162E2A;
  text-shadow: 1px 1px #B53300;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  padding: 5px;
}

/* Style the nav list */
nav ul {
  list-style: none;
  display: flex;
  height: 100%;
}

/* Style the nav links on hover */
nav ul li a:hover {
  background-color: #B53300;
  color: #FFFFFF;
}

@media only screen and (max-width: 800px) {
 
  h1 {
    text-align: center;
    z-index: 1;
    padding-left: 50px;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header:hover nav,
  header:focus-within nav {
    display: flex;
  }

  header:hover nav,
  header:active nav {
    display: flex;
  }

  nav {
    display: none;
    position: absolute;
    top: 0px;
    left: 2px;
    height: auto;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    width: 100px;
  }

  nav a {
    display: block;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    
  }

  nav ul li a {
    display: block;
    color: #162E2A;
    text-shadow: 1px 1px #B53300;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    padding: 4px;
  }

  nav ul li a:hover {
    background-color: #B53300;
    color: #ffffff7e;
  }

}

/* Style the h2 */
h2 {
  font-size: 32px;
  color: #B53300;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.58); /* Adds Text Outline */
  text-shadow: 4px 4px #162e2a50; /* Adds Text Drop Shadow */ 
  padding-top: 110px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Style for h3 */
h3 {
  font-size: 28px;
  color: #B53300; /* Sets text color */
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.58); /* Adds text outline */
  text-shadow: 4px 4px #162e2a50; /* Adds text drop shadow */
  padding-top: 10px;
}

/* Style for paragraphs */
p {
  font-size: 18px;
}

/* Style for links in paragraphs */
p a {
  color: #B53300; /* Sets text color */
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.58); /* Adds text outline */
  text-shadow: 4px 4px #162e2a50; /* Adds text drop shadow */
  text-decoration: none; /* Removes the  underline */
}

/* Style for visited links in paragraphs */
p a:visited {
  color: #B53300; /* Sets text color */
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.58); /* Adds text outline */
  text-shadow: 4px 4px #162e2a50; /* Adds text drop shadow */
}

/* Style for hovered links in paragraphs */
p a:hover {
  color: #005244;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.58); /* Adds text outline */
  text-shadow: 4px 4px #162e2a50; /* Adds text drop shadow */
  text-decoration: underline;
}

/* Style for the about section text */
.txt-abt {
  width: 60%; /* Set the width to 50% of the parent element */
}

/* Style for the text section */
.txt-lt, .txt-rt {
  flex: 1; /* Fill available horizontal space */
  align-self: flex-start; /* Align to the top of the container */
  padding: 10px;
}

/* Style for container with flex layout */
.flex-lt {
  display: flex; /* Sets display to flex */
  flex-direction: row; /* Sets main axis to be horizontal */
  align-items: center; /* Centers items vertically */
  height: 800px;
  padding: 5px 30px;
}

/* Style for container with flex layout (reversed) */
.flex-rt {
  display: flex; /* Sets display to flex */
  flex-direction: row-reverse; /* Sets main axis to be horizontal and reversed */
  align-items: center; /* Centers items vertically */
  height: 800px;
  padding: 5px 30px;
}

/* Style for img element */
img {
  width: 100%;
  height: 600px;
  object-fit: cover; /* Ensures image covers entire container */
  display: block; /* Sets display to block to remove extra spacing */
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Adds box shadow */
}

/* Style for About page image */
.img-abt {
  max-width: 50%;
  background-size: cover; /* Ensures image covers entire container */
  background-position: center; /* Centers image horizontally and vertically */
  padding-left: 30px;
}

/* Style for image container */
.img-lt, .img-rt {
  flex: 1; /* Fill available horizontal space */
  max-width: 50%; /* Limit maximum width to 50% */
  height: 800px; /* Set a fixed height of 800px */
  background-size: cover; /* Scale the image to cover the entire container */
  background-position: center; /* Center the image within the container */
  padding: 30px;
}

/* Style for the profile section */
#profile {
  display: flex; /* Display as a flex container */
  flex-direction: row-reverse; /* Reverse the order of the flex items */
  margin: 30px;
}